
.input-group {
  input[type="text"] {
    &:placeholder-shown {
      background-color: $gray-100 !important;
      color: $gray-600 !important;
    }

    &:before {
      font-family: "Font Awesome 5 Free", sans-serif;
      content: "\f002";
      display: inline-block;
      padding: 0.375rem 0.75rem;
      margin-right: -1.5rem;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.5;
      color: $gray-700;
      border-radius: 0.25rem 0 0 0.25rem;
      background-color: $gray-100;
      border: 1px solid $gray-200;
      border-right: none;
    }
  }
}

.mr-md-0p {
  margin-right: 0 !important;
}

