@import 'materialize-css';
.inactive-opacity {
  opacity: 0 !important;
}

.active-opacity-when-primary-is-active {
  opacity: 1 !important;
}

a.carousel-item {
  display: block;
}

.next, .prev {
  opacity: 1 !important;
}
