<div class="carousel" #carousel>
    <a *ngFor="let item of listingUsers; let i=index"
       class="carousel-item"
       [ngClass]="{ 'active': i === activeIndex, 'prev': i === prevIndex, 'next': i === nextIndex }"
       href="#{{i}}!">
    <img src="{{ item.avatar }}" alt="">
  </a>
</div>
