<form method="post" [formGroup]="form">
  <div class="row mb-3">
    <div class="col-md-8 p-4 mr-md-0p mr-md-20p shadow-sm p-3 bg-white rounded">
      <div class="card border-0">
        <div class="card-body mt-5">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" formControlName="first_name" [value]="form.get('first_name')?.value" required>
              <div
                *ngIf="form.controls['first_name'].invalid && (form.controls['first_name'].dirty || form.controls['first_name'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['first_name'].errors?.['required']">
                  First name is required.
                </div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" formControlName="last_name" [value]="form.get('last_name')?.value" required>
              <div
                *ngIf="form.controls['last_name'].invalid && (form.controls['last_name'].dirty || form.controls['last_name'].touched)"
                class="alert alert-danger">
                <div *ngIf="form.controls['last_name'].errors?.['required']">
                  Last name is required.
                </div>
              </div>
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <button type="button" class="btn btn-success mt-5" (click)="alert('Dodano rekord')"
                  [disabled]="form.invalid">
            Update Details
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-4 shadow-sm p-3 bg-white rounded">
      <div class="card border-0">
        <div class="card-body mt-5">
          <div class="d-flex justify-content-center align-items-center">
            <img [src]="imgUrl" class="rounded-circle img-thumbnail"
                 alt="" id="uploadedImage">
          </div>
          <br>
          <input type="file" class="d-none" id="avatar" #avatar formControlName="avatar" accept="image/*" required
                 (change)="uploadImageThumbnail($event)">
          <label for="avatar" class="form-label d-none text-center w-100">Photo</label>
          <button type="button" class="btn border-black w-100 mt-5" (click)="selectedPhoto()">
            <i class="fa fa-camera-alt"></i>
            Photo
          </button>
          <div
            *ngIf="form.controls['avatar'].invalid"
            class="alert alert-danger">
            <div *ngIf="form.controls['avatar'].errors?.['required']">
              Photo is required.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
