<h1>
  User list
</h1>
<div class="bg-white p-4">
  <div class="row mb-3">
    <app-carousel [listingUsers]="listingUsers.data"></app-carousel>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" id="search-input" [(ngModel)]="findUsers" class="form-control border-0" placeholder="Search for users...">
      </div>
    </div>
    <div class="col-md-5"></div>
    <div class="col-md-3 text-md-end mt-3 mt-sm-0">
      <a id="add-user-btn" type="button" class="btn btn-success rounded-5" [routerLink]="['add']">
        <i class="fas fa-regular fa-plus"></i> Add User
      </a>
    </div>
  </div>
  <div class="table-responsive table-secondary">
    <table id="user-table" class="table table-sm table-striped">
      <thead>
      <tr>
        <th></th>
        <th>Full Name</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let getUser of listingUsers.data | search: findUsers; trackBy:userByNameOrSurname">
        <td style="width: 100px;">
          <img src="{{ getUser.avatar }}" alt="{{ getUser.first_name }} {{ getUser.last_name }}"
               srcset="{{ getUser.avatar }}"
               class="img-fluid rounded-circle img-thumbnail" width="45px">
        </td>
        <td>
          {{ getUser.first_name }} {{ getUser.last_name }}
        </td>
        <td style="width: 150px;">
          <a id="edit-user-btn" class="btn" type="button" [routerLink]="[getUser.id+'/edit']">
            <i class="fas fa-regular fa-edit" style="color: #acb4ba"></i>
          </a>
          <button id="remove-user-btn" class="btn">
            <i class="fas fa-regular fa-trash" style="color: #acb4ba"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="pagination-container" class="mt-3">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" (click)="loadPageByNumber(this.listingUsers.page - 1)" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let keyNumber of [].constructor(this.listingUsers.total_pages); let i = index"
          [ngClass]="this.listingUsers.page === i+1? 'active':''">
                <span *ngIf="this.listingUsers.page === i+1" class="page-link">
                          {{ this.listingUsers.page }}
                  <span class="sr-only">(current)</span>
                </span>
        <a class="page-link" *ngIf="this.listingUsers.page !== i+1" href="#" (click)="loadPageByNumber(i+1)">
          {{ i + 1 }}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="loadPageByNumber(this.listingUsers.page + 1)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
